body{
	background-color: #eeeeee;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
	padding-bottom: 120px;
}

#navbar {
	background-color: white;
	padding:0;
	padding-right: 40px;
	padding-left:40px
}

#logo
{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 24px;
	font-weight: bold;
	background-color: rgb(102, 17, 141);
	color:white;
}

.section {
	background-color: white;
	padding: 20px;
}

.sectionTitle {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color:rgb(102, 17, 141)	
}

.compareTitle {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color:rgb(102, 17, 141)	
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color:grey;
	color: white;
	text-align: center;
	border-top: 5px solid rgb(102, 17, 141);
 }

tr:nth-child(even) {
	background-color:rgb(210, 192, 212);
}

th, td {
	border: 0px;
	border-bottom: 1px solid lightgrey;
	padding: 5px;
	text-align: center;
	margin-top: auto;
	font-size: 14px;
}

@media (max-width: 990px) {
    #navbar{
		background-color:rgb(102, 17, 141);
	}
}

/*  background-color: rgb(3, 153, 145); */